<h1>Editing Book</h1>
<%= form_with model:@book, url:"/books/#{@book.id}", local:true do |f| %>
  <div class="title">
    <label>Title</label><br>
    <%= f.text_field :title %>
  </div>

  <div class="body">
    <label>Body</label><br>
    <%= f.text_area :body %>
  </div>

  <div class="action">
    <%= f.submit 'Update Book' %>
  </div>
<% end %>

<%= link_to "Show", book_path(@book.id) %> |
<%= link_to "Back", books_path %>